# Java
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IntelliJ

## Project setup
*.iml
*.ipr
*.iws

## User settings and sensitive files
.idea/

## Compiled stuff
out/

# Eclipse
.classpath
.project
.settings/
*.launch
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath

# Maven
log/
target/

# Mac
.DS_Store

# This project files
names.txt


# Python stuffs
*.pyc

# Virtualenv
it1901/
