{% extends 'base.html' %}

{% block styles %}{% endblock styles %}

{% block title %}CoolStuff{% endblock title %}


{% block content %}
<div class="row">
  <div class="col-md-8">
    <h2>Vedstatus</h2>
    <p><span class="lead"></span>
      {% if koies %}
        <table class="table">
            <tr><th>Koie</th><th>Vedstatus</th><th>Total vedkapasitet</th><th>Status</th></tr>
          {% for koie in koies %}
            <tr>
              <td>{{ koie.name }}</td>
              {% if koie.firewood %}
              <td>{{ koie.firewood }}</td> 
              {% else %}
              <td> NA </td>
              {% endif %}
              <td>{{ koie.num_beds }}</td>
            </tr>
          {% endfor %}
        </table>
      {% else %}
      Det er ikke rapportert inn noen av koienes vedstatus for øyeblikket.
      {% endif %}
    </p>
  </div>
</div>
{% endblock content %}
