{% extends 'base.html' %}

{% block styles %}{% endblock styles %}

{% block title %}CoolStuff{% endblock title %}


{% block content %}
<link type = "text/css" href = "teststyle.css" rel = "stylesheet">
<div class = "boody">
<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <h2>Hjem</h2>
    </div>
  </div>
  <div class="col-md-6">
    <p><span class="lead">Koiesys</span> er et administrasjonssystem for NTNUI sine Koier.</p>
  </div>
</div>
</div>
{% endblock content %}
