{% extends 'base.html' %}

{% block styles %}{% endblock styles %}

{% block title %}Koier{% endblock title %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1>KOIESYS index</h1>
  </div>
  <div class="col-md-8">
    <p>Dette er et administrasjonssystem for NTNUI sine Koier.</p>
    {% if user.is_authenticated %}
       <p>Du er administrator, og ser derfor administrasjonslisten av koiene. Den inneholder ekstra felter som forteller litt om status på koiene.</p>
    {% endif %}
  </div>

  <div class="col-md-10">
  {% if koies %}
    <h3>List of koies</h3>
      <table class="table table-striped">
        <tr>
          <th>Name</th>
          <th>Location</th>
          {% if user.is_authenticated %}
          <th>Firewood</th>
          <th>Damages</th>
          <th>Unread reports</th>
          {% else %}
          <th>Number of beds</th>
          {% endif %}
        </tr>
        {% for koie in koies %}
        <tr{% if koie.is_reserved %} class="alert alert-danger"{% endif %}>
          <td><a href="{% url 'koie_detail' koie.id %}">{{ koie.name }}</a></td>
          <td>{{ koie.location }}</td>
          {% if user.is_authenticated %}
          <td>{{ koie.firewood }}</td>
          <td>{{ koie.damages }}</td>
          <td>{{ koie.unread_reports }}</td>
          {% else %}
          <td>{{ koie.num_beds }}</td>
          {% endif %}
        </tr>
        {% endfor %}
      </table>
  {% else %}
    <h3>No koies in KOIESYS.</h3>
  {% endif %}
  </div>
{% endblock content %}
