{% extends 'base.html' %}

{% block styles %}{% endblock styles %}

{% block title %}CoolStuff{% endblock title %}


{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1>information about the koies</h1>
  </div>
  <div class="col-md-8">
  {% if koie %}
  <h3>Sum info 'baut dis koi</h3>
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>ZIP</th>
      <th>Location</th>
      <th>Number of beds</th>
      <th>Reserved</th>
    </tr>
    <tr>
      <td>{{ koie.name }}</td>
      <td>{{ koie.address }}</td>
      <td>{{ koie.zip_code }}</td>
      <td>{{ koie.location }}</td>
      <td>{{ koie.num_beds }}</td>
      <td>{{ is_reserved }}</td>
    </tr>
  </table>
  {% else %}
    No info about dis koie
  {% endif %}
  </div>
</div>
{% endblock content %}
