{% extends 'base.html' %}

{% block styles %}{% endblock styles %}

{% block title %}Koier{% endblock title %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1>KOIESYS index</h1>
  </div>
  <div class="col-md-8">
    <p>Dette er et administrasjonssystem for NTNUI sine Koier.</p>
  </div>

  <div class="col-md-10">
  {% if koies %}
    <h3>List of koies</h3>
      <table class="table table-striped">
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>Coords</th>
          <th>Location</th>
          <th>Number of beds</th>
          <th>Reserved</th>
        </tr>
        {% for koie in koies %}
        <tr{% if koie.is_reserved %} class="alert alert-danger"{% endif %}>
          <td><a href="{% url 'koie_detail' koie.id %}">{{ koie.name }}</a></td>
          <td>{{ koie.address }}</td>
          <td>({{ koie.latitude }}, {{ koie.longitude }})</td>
          <td>{{ koie.location }}</td>
          <td>{{ koie.num_beds }}</td>
          <td>Reimplement</td>
        </tr>
        {% endfor %}
      </table>
  {% else %}
    <h3>No koies in KOIESYS.</h3>
  {% endif %}
  </div>
{% endblock content %}
