{% extends 'base.html' %}

{% block styles %}{% endblock styles %}

{% block title %}CoolStuff{% endblock title %}


{% block content %}
<div class="row">
  <div class="col-md-4">
    <h2>Siste rapporter</h2>
    <p><span class="lead"></span>
      {% if latest_reports %}
        <table class="table">
          <tr><th>Feedback</th><th>Vedstatus</th></tr>
          {% for reporten in latest_reports %}
            <tr>
            
              <td>{{ reporten.report }}</td>
              <td>{{ reporten.firewood_status }}</td>
              <td><a href="{% url 'get_report' reporten.id %}">Les rapporten</a></td>
            </tr>
          {% endfor %}
        </table>
      {% else %}
      Ingen uleste rapporter.
      {% endif %}
    </p>
  </div>
  <div class="col-md-4">
    <h2>Ipsum</h2>
    <p><span class="lead"></span>Pap</p>
  </div>
</div>
{% endblock content %}
