{% extends 'base.html' %}

{% block styles %}{% endblock styles %}

{% block title %}CoolStuff{% endblock title %}


{% block content %}
<div class="row">
  <div class="col-md-4">
    <h2>Siste rapporter</h2>
    <p><span class="lead"></span>
      {% if latest_reports %}
        <table class="table">
          <tr>
          	<th>Koie</th>
         	 <th>Dato</th>
         	 <th>Ledige sengeplasser</th>
         	 <th>E-Post</th>
          </tr>
          {% for lr in latest_reports %}
            <tr>
              <td> Hent data </td>
            </tr>
          {% endfor %}
        </table>
      {% else %}
      Ingen kommende reservasjoner.
      {% endif %}
    </p>
  </div>
  <div class="col-md-4">
    <h2>Ipsum</h2>
    <p><span class="lead"></span>Pap</p>
  </div>
</div>
{% endblock content %}
