{% extends 'base.html' %}
{% block styles %}{% endblock styles %}
{% load widget_tweaks %}
{% block title %}CoolStuff{% endblock title %}


{% block content %}
<div class="row">
  <div class="col-md-4">
  {% if damage %}
    <h2>Skaderapporter {{ damage.damaged_koie.name }}</h2>
    <p><span class="lead"></span>	
        <table class="table">
          <tr><th>Koie</th><th>Skade</th><th>Fikset</th></tr>
          {% for damage in damages %}
            <tr>
              <td>{{ damage.damaged_koie.name }}</td>
              <td>{{ damage.damage }}</td>
              <td>{{ damage.fixed_date }}</td>
              <td>
              {% if damage.fixed_date %}
                    <span class="glyphicon glyphicon-ok"></span> (Skaden er fikset)
                {% else %}
                    <span class="glyphicon glyphicon-remove"></span> (<a href="{% url 'mark_as_fixed' damage.id %}">Fiks</a>)
                {% endif %}
              </td>
            </tr>
          {% endfor %}
            <table>
            <h3>Tilbakemelding</h3>
           {{ report.report }}
      {% else %}
      404 - Denne rapporten eksisterer ikke.
      {% endif %}
    </p>
  </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>{{ form.title }}</h2>
        <form action="" method="post" role="form" class="form-horizontal">
            {% csrf_token %}
            <input type="text" name="act" value="report_read" hidden>
            <div class="form-group">
                <input type="submit" name="read-btn" value="Lest" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>


{% endblock %}
